
**/objs/
**/myrepo/
**/.flatpak-builder/
**/.gitmodules
**/shared-modules/
**/build-dir/
build/
build-staticlibs/
.vs/
.gitmodules
shared-modules/

build/Android*
build/Desktop_Qt*
nolimitgui/bin-Linux/
nolimitgui/bin-Windows/
package/
deploy/
flatpak-repo/
site/

aboutme_thumb.png
favicon.ico
index.htm
me.png
story_board.htm
storyboard_background.png
storyboard_thumb.png


/**/*.user
/**/*.user.*
/**/*.a
/**/*.aps
/**/*.d
/**/*.o
/**/*.so
/**/*.so.*
/**/*.obj
/**/*.idx
/**/*.json

# do not check in changes to user-specific CMake presets
CMakeUserPresets.json

# keep editor/build configuration JSON files under version control
!/.vscode/
!/.vscode/*.json
!/CMakePresets.json

__pycache__/
*.pyc
AppResources_rc.py
*_ui.py






